apipkg==1.5
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
blessings==1.7
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
coverage==4.5.2
cryptography==2.4.2
dependency-injector==3.14.3
Deprecated==1.2.4
execnet==1.5.0
gitdb2==2.0.5
github3.py==1.2.0
GitPython==2.1.11
idna==2.8
jwcrypto==0.6.0
more-itertools==4.3.0
pathlib2==2.3.3
pep8==1.7.1
pluggy==0.8.0
prompt-toolkit==1.0.14
psutil==5.4.8
py==1.7.0
pycparser==2.19
Pygments==2.3.1
PyInquirer==1.0.3
PyJWT==1.7.1
pytest==4.0.2
pytest-cache==1.0
pytest-cov==2.6.0
pytest-mock==1.10.0
pytest-pep8==1.0.6
python-dateutil==2.7.5
python-gitlab==1.7.0
PyYAML==3.13
readchar==2.0.1
regex==2018.11.22
requests==2.21.0
six==1.12.0
smmap2==2.0.5
uritemplate==3.0.0
urllib3==1.24.1
virtualenv==16.1.0
wcwidth==0.1.7
wrapt==1.10.11
git+https://github.com/YannickFricke/python-coveralls.git
